@media screen and (min-width: 2600px) {
    .list {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
}

@media screen and (min-width: 2000px) and (max-width: 2600px) {
    .list {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

@media screen and (min-width: 1301px) and (max-width: 2000px) {
    .list {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 1300px) {
    .list {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 1000px) {
    .list {
        display: grid;
        grid-template-columns: auto;
    }
}

