.menu {
    margin-left: 40px;
    margin-top: 20px;
    border: 2px solid #23818e;
    padding: 20px;
    width: 70%;
    border-radius: 8px;
    background-color:black;
}

.ul-menu {
    list-style: none;
}

.li-menu {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}

.li-menu:hover {
    cursor: pointer;
    color: #23818e;
}